[Unit]
Description=CoreOS twelve-factor stage two initialization
Requires=12factor-init-stage-one.service
After=12factor-init-stage-one.service

[Service]
User=root
Type=oneshot
RemainAfterExit=true
EnvironmentFile=<%= get(:config_directory) %>/env/systemd.env
ExecStart=<%= get(:config_directory) %>/init/stage-two
