[Unit]
Description=Docker check image update service

[Service]
Type=oneshot
EnvironmentFile=<%= getenv!(:parasite_config_directory) %>/env/parasite-host.env
ExecStart=/opt/bin/docker-check-pull-all
