[Unit]
Description=Docker check image update service

[Service]
User=root
Type=oneshot
EnvironmentFile=<%= config_directory %>/env/systemd.env
ExecStart=/opt/bin/docker-check-pull-all
