[Unit]
Description=Docker container and image cleanup service

[Service]
User=root
Type=oneshot
EnvironmentFile=<%= config_directory %>/env/systemd.env
ExecStart=/opt/bin/docker-cleanup
