[Unit]
Description=Docker check image update timer

[Timer]
EnvironmentFile=<%= config_directory %>/env/systemd.env
OnBootSec=15min
OnUnitInactiveSec=2min
Unit=docker-check-image-update.service
