[Unit]
Description=Etcd variable to environment file service
Requires=etcdd.service
After=etcdd.service

[Service]
User=root
Type=oneshot
RemainAfterExit=true
EnvironmentFile=<%= get(:config_directory) %>/env/systemd.env
ExecStart=/opt/bin/etcd2env
