[Unit]
Description=etcd shared configuration service docker
Conflicts=etcd.service etcd2.service

[Service]
User=root
Restart=always
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=30
EnvironmentFile=<%= getenv!(:config_directory) %>/env/systemd.env
Environment=DOCKER_CONTAINER_NAME=%n
ExecStartPre=-/opt/bin/send-notification warn "Starting `${DOCKER_CONTAINER_NAME}` docker container"
ExecStartPre=-/opt/bin/docker-check-pull ${DOCKER_IMAGE_ETCD}
ExecStartPre=-/opt/bin/docker-check-remove ${DOCKER_CONTAINER_NAME}
ExecStartPre=/opt/bin/data-check-mkdir <%= getenv!(:data_directory) %>/etcd
ExecStart=/usr/bin/docker run \
  -p 2379:2379 \
  -p 2380:2380 \
  --volumes-from ${DOCKER_CONTAINER_12FACTOR_CONFIG} \
  --volumes-from ${DOCKER_CONTAINER_12FACTOR_DATA} \
  --env-file=<%= getenv!(:config_directory) %>/env/etcd.env \
  --hostname ${DOCKER_CONTAINER_NAME}.${DOCKER_HOSTNAME_FULL} \
  --name ${DOCKER_CONTAINER_NAME} \
  ${DOCKER_IMAGE_ETCD}
ExecStartPost=/opt/bin/docker-wait-container ${DOCKER_CONTAINER_NAME}
ExecStartPost=/opt/bin/etcd-wait-ready
ExecStop=/usr/bin/docker stop ${DOCKER_CONTAINER_NAME}
