[Unit]
Description=Operating system tools installation service

[Service]
User=root
Type=oneshot
EnvironmentFile=<%= getenv!(:parasite_config_directory) %>/env/parasite-host.env
ExecStartPre=-/opt/bin/send-notification warn "Starting `<%= getenv!(:systemd_service_name) %>`"
ExecStart=/opt/bin/install-tools
ExecStartPost=-/opt/bin/send-notification success "Finished `<%= getenv!(:systemd_service_name) %>`"
