[Unit]
Description=Systemd journal collector service

[Service]
User=root
RemainAfterExit=true
Restart=on-failure
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=30
EnvironmentFile=<%= getenv!(:config_directory) %>/env/systemd.env
Environment=SERVICE_NAME=%n
Environment=JOURNAL_COLLECTOR_FILE=<%= getenv!(:data_directory) %>/log/journal.json
ExecStartPre=-/opt/bin/send-notification warn "Starting `${SERVICE_NAME}` service"
ExecStartPre=/bin/mkdir -p <%= getenv!(:data_directory) %>/log
ExecStart=/bin/sh -c 'journalctl -f -o json | tee -a ${JOURNAL_COLLECTOR_FILE} >/dev/null 2>&1'
ExecStartPost=-/opt/bin/send-notification success "Started `${SERVICE_NAME}` service"
