[Unit]
Description=Logstash log forwarding service

[Service]
User=root
Restart=always
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=30
EnvironmentFile=<%= getenv!(:config_directory) %>/env/systemd.env
Environment=DOCKER_CONTAINER_NAME=%n
ExecStartPre=-/opt/bin/send-notification warn "Starting `${DOCKER_CONTAINER_NAME}` docker container"
ExecStartPre=-/opt/bin/docker-check-pull ${DOCKER_IMAGE_LOGSTASH_AGENT}
ExecStartPre=-/opt/bin/docker-check-remove ${DOCKER_CONTAINER_NAME}
ExecStartPre=/opt/bin/data-check-mkdir <%= getenv!(:data_directory) %>/logstash
ExecStart=/usr/bin/docker run \
  -v ${DOCKER_VOLUME_PARASITE_CONFIG}:<%= getenv!(:config_directory) %> \
  -v ${DOCKER_VOLUME_PARASITE_DATA}:<%= getenv!(:data_directory) %> \
  -v /var/log/journal:/var/log/journal:ro \
  -e SINCEDB_DIR=<%= getenv!(:data_directory) %>/logstash \
  --net ${DOCKER_BRIDGE_NETWORK_NAME} \
  --add-host elasticsearch:${DOCKER_BRIDGE_NETWORK_ADDRESS} \
  --hostname ${DOCKER_CONTAINER_NAME}.${DOCKER_HOSTNAME_FULL} \
  --name ${DOCKER_CONTAINER_NAME} \
  ${DOCKER_IMAGE_LOGSTASH_AGENT} \
  logstash -f ${LOGSTASH_CONFIG_FILE}
ExecStartPost=/opt/bin/docker-wait-container ${DOCKER_CONTAINER_NAME}
ExecStop=/usr/bin/docker stop ${DOCKER_CONTAINER_NAME}
