[Unit]
Description=Logstash log forwarding service

[Service]
Restart=always
EnvironmentFile=<%= getenv!(:parasite_config_directory) %>/env/systemd.env
ExecStartPre=-/opt/bin/send-notification warn "Starting `<%= getenv!(:systemd_service_name) %>` docker container"
ExecStartPre=-/opt/bin/docker-check-pull ${DOCKER_IMAGE_LOGSTASH_AGENT}
ExecStartPre=-/opt/bin/docker-check-remove <%= getenv!(:systemd_service_name) %>
ExecStartPre=/opt/bin/data-check-mkdir <%= getenv!(:parasite_data_directory) %>/logstash
ExecStart=/usr/bin/docker run \
  -v ${DOCKER_VOLUME_PARASITE_CONFIG}:<%= getenv!(:parasite_config_directory) %> \
  -v ${DOCKER_VOLUME_PARASITE_DATA}:<%= getenv!(:parasite_data_directory) %> \
  -v /var/log/journal:/var/log/journal:ro \
  -e SINCEDB_DIR=<%= getenv!(:parasite_data_directory) %>/logstash \
  --net ${DOCKER_BRIDGE_NETWORK_NAME} \
  --add-host elasticsearch:${DOCKER_BRIDGE_NETWORK_ADDRESS} \
  --hostname <%= getenv!(:systemd_service_name) %>.${DOCKER_HOSTNAME} \
  --name <%= getenv!(:systemd_service_name) %> \
  ${DOCKER_IMAGE_LOGSTASH_AGENT} \
  logstash -f ${LOGSTASH_CONFIG_FILE}
ExecStartPost=/opt/bin/docker-wait-container <%= getenv!(:systemd_service_name) %>
ExecStop=/usr/bin/docker stop <%= getenv!(:systemd_service_name) %>
