[Unit]
Description=NewRelic system monitor agent service
Conflicts=newrelic-agent.service

[Service]
User=root
Restart=always
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=30
EnvironmentFile=<%= config_directory %>/env/systemd.env
Environment=NRSYSMOND_ARCH=x64
Environment=NRSYSMOND_CONFIG_FILE=/tmp/newrelic-sysmond.conf
Environment=NRSYSMOND_PID_FILE=/var/run/nrsysmond.pid
Environment=NRSYSMOND_LOG_FILE=/var/log/nrsysmond.log
ExecStartPre=-/opt/bin/send-notification warn "Starting `%n`"
ExecStartPre=/opt/bin/download-nrsysmond
ExecStartPre=/usr/bin/sh -c 'echo "license_key = ${NEWRELIC_LICENSE_KEY}" > "${NRSYSMOND_CONFIG_FILE}"'
ExecStart=/opt/bin/nrsysmond -F \
  -c "${NRSYSMOND_CONFIG_FILE}" \
  -n "${DOCKER_HOSTNAME_FULL}" \
  -p "${NRSYSMOND_PID_FILE}" \
  -l "${NRSYSMOND_LOG_FILE}" \
  -d warning
ExecStartPost=/usr/bin/bash -c 'sleep 5; kill -0 $(cat ${NRSYSMOND_PID_FILE})'
ExecStartPost=-/opt/bin/send-notification success "Started `%n`"
ExecStop=/usr/bin/bash -c 'kill $(cat ${NRSYSMOND_PID_FILE})'
