[Unit]
Description=CoreOS parasite stage two initialization
Requires=parasite-init-stage-one.service
After=parasite-init-stage-one.service

[Service]
User=root
RemainAfterExit=true
Restart=on-failure
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=30
EnvironmentFile=/parasite-config.env
EnvironmentFile=-/parasite-config-ext.env
EnvironmentFile=<%= getenv!(:config_directory) %>/env/systemd.env
ExecStart=<%= getenv!(:config_directory) %>/init/stage-two
