[Unit]
Description=CoreOS parasite stage two initialization
Requires=parasite-init-stage-one.service
After=parasite-init-stage-one.service

[Service]
User=root
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/parasite-config.env
EnvironmentFile=-/parasite-config-ext.env
EnvironmentFile=<%= getenv!(:config_directory) %>/env/systemd.env
ExecStart=<%= getenv!(:config_directory) %>/init/stage-two
