[Unit]
Description=Docker parasite stage two initialization
Requires=parasite-init-stage-one.service
After=parasite-init-stage-one.service

[Service]
RemainAfterExit=true
Restart=on-failure
ExecStart=<%= getenv!(:parasite_config_directory) %>/init/stage-two
