[Unit]
Description=Swap file management service

[Service]
User=root
Type=oneshot
RemainAfterExit=true
EnvironmentFile=<%= config_directory %>/env/systemd.env
Environment=SERVICE_NAME=swap-file
ExecStartPre=-/opt/bin/send-notification warn "Starting `${SERVICE_NAME}` service"
ExecStart=/opt/bin/coreos-enable-swap
ExecStartPost=-/opt/bin/send-notification success "Started `${SERVICE_NAME}` service"
ExecStop=/opt/bin/coreos-disable-swap
