[Unit]
Description=Swap file management service

[Service]
User=root
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/12factor/env/systemd.env
Environment=SERVICE_NAME=swap-file
ExecStartPre=-/12factor/bin/send-notification warn "Starting `${SERVICE_NAME}` service"
ExecStart=/12factor/bin/coreos-enable-swap
ExecStartPost=-/12factor/bin/send-notification success "Started `${SERVICE_NAME}` service"
ExecStop=/12factor/bin/coreos-disable-swap
