[Unit]
Description=NewRelic system monitor agent service

[Service]
Restart=always
EnvironmentFile=<%= getenv!(:parasite_config_directory) %>/env/newrelic-agent.env
ExecStartPre=-/opt/bin/send-notification warn "Starting `<%= getenv!(:systemd_service_name) %>`"
ExecStartPre=-/opt/bin/docker-check-remove <%= getenv!(:systemd_service_name) %>
ExecStart=/usr/bin/docker run \
  --privileged \
  --pid host \
  --net host \
  -v /sys:/sys \
  -v /dev:/dev \
  -v /var/run/docker.sock:/var/run/docker.sock:ro \
  -e NRSYSMOND_license_key=${NEWRELIC_LICENSE_KEY} \
  -e NRSYSMOND_logfile=stdout \
  -e NRSYSMOND_loglevel=info \
  --name <%= getenv!(:systemd_service_name) %> \
  newrelic/nrsysmond:latest
ExecStartPost=/opt/bin/docker-wait-container <%= getenv!(:systemd_service_name) %>
ExecStop=/usr/bin/docker stop <%= getenv!(:systemd_service_name) %>
