[Unit]
Description=CoreOS twelve-factor stage two initialization
Requires=systemd-networkd.service docker.service 12factor-init-stage-one.service
After=systemd-networkd.service docker.service 12factor-init-stage-one.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/12factor/env/systemd.env
ExecStart=/12factor/init/stage-two
