[Unit]
Description=CoreOS twelve-factor stage two initialization
Requires=12factor-init-stage-one.service
After=12factor-init-stage-one.service

[Service]
User=root
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/12factor/env/systemd.env
ExecStart=/12factor/init/stage-two
