[Unit]
Description=Docker check image update timer

[Timer]
EnvironmentFile=/12factor/env/systemd.env
OnBootSec=5min
OnUnitInactiveSec=2min
Unit=docker-check-image-update.service
