[Unit]
Description=Docker container and image cleanup service

[Service]
User=core
Type=oneshot
EnvironmentFile=/12factor/env/systemd.env
ExecStart=/12factor/bin/docker-cleanup
