[Unit]
Description=Docker check image update service

[Service]
User=core
Type=oneshot
EnvironmentFile=/12factor/env/systemd.env
ExecStart=/12factor/bin/docker-check-pull-all
