[Unit]
Description=etcd shared configuration service docker

[Service]
User=root
Restart=always
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=30
EnvironmentFile=/12factor/env/systemd.env
Environment=DOCKER_CONTAINER_NAME=%n
ExecStartPre=-/12factor/bin/send-notification warn "Starting `${DOCKER_CONTAINER_NAME}` docker container"
ExecStartPre=-/12factor/bin/docker-check-pull ${DOCKER_IMAGE_ETCD}
ExecStartPre=-/12factor/bin/docker-check-remove ${DOCKER_CONTAINER_NAME}
ExecStart=/usr/bin/docker run \
  -p 2379:2379 \
  -p 2380:2380 \
  -e ETCD_ELECTION_TIMEOUT=1200 \
  -e ETCD_PEER_HEARTBEAT_INTERVAL=1000 \
  --volumes-from ${DOCKER_CONTAINER_12FACTOR_CONFIG} \
  -v /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro \
  -v /data/etcd:/var/lib/etcd \
  --hostname ${DOCKER_CONTAINER_NAME}.${DOCKER_HOSTNAME_FULL} \
  --name ${DOCKER_CONTAINER_NAME} \
  ${DOCKER_IMAGE_ETCD} \
    --data-dir /var/lib/etcd \
    --ca-file /12factor/conf/etcd/ca.pem \
    --cert-file /12factor/conf/etcd/cert.pem \
    --key-file /12factor/conf/etcd/key.pem \
    --peer-ca-file /12factor/conf/etcd/peer-ca.pem \
    --peer-cert-file /12factor/conf/etcd/peer-cert.pem \
    --peer-key-file /12factor/conf/etcd/peer-key.pem \
    --discovery ${ETCD_DISCOVERY_URL} \
    --advertise-client-urls http://${HOST_PUBLIC_IP_ADDRESS}:2379 \
    --initial-advertise-peer-urls http://${HOST_PUBLIC_IP_ADDRESS}:2380 \
    --listen-client-urls http://0.0.0.0:2379 \
    --listen-peer-urls http://0.0.0.0:2380
ExecStartPost=/12factor/bin/docker-wait-container ${DOCKER_CONTAINER_NAME}
ExecStop=/usr/bin/docker stop ${DOCKER_CONTAINER_NAME}
