[Unit]
Description=Etcd variable to environment file service
Requires=etcdd.service
After=etcdd.service

[Service]
User=root
Type=oneshot
EnvironmentFile=/12factor/env/systemd.env
ExecStart=/12factor/bin/etcd2env
