[Unit]
Description=CoreOS tools installation service

[Service]
Type=oneshot
User=core
WorkingDirectory=/home/core
EnvironmentFile=/12factor/env/systemd.env
ExecStartPre=-/12factor/bin/send-notification warn "Starting `%n`"
ExecStart=/12factor/bin/coreos-install-tools
ExecStartPost=-/12factor/bin/send-notification success "Finished `%n`"
