[Unit]
Description=NewRelic system monitor agent service

[Service]
User=root
Restart=always
RestartSec=10s
TimeoutStartSec=300
TimeoutStopSec=30
EnvironmentFile=/12factor/env/systemd.env
Environment=DOCKER_CONTAINER_NAME=%n
ExecStartPre=-/12factor/bin/send-notification warn "Starting `${DOCKER_CONTAINER_NAME}` docker container"
ExecStartPre=-/12factor/bin/docker-check-pull ${DOCKER_IMAGE_ETCD}
ExecStartPre=-/12factor/bin/docker-check-remove ${DOCKER_CONTAINER_NAME}
ExecStart=/usr/bin/docker run \
  --privileged \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /dev:/dev \
  -v /sys:/sys \
  -e NEW_RELIC_LICENSE_KEY=${NEWRELIC_LICENSE_KEY} \
  --pid host \
  --net host \
  --name ${DOCKER_CONTAINER_NAME} \
  ${DOCKER_IMAGE_NEWRELIC_AGENT}
ExecStartPost=/12factor/bin/docker-wait-container ${DOCKER_CONTAINER_NAME}
ExecStop=/usr/bin/docker stop ${DOCKER_CONTAINER_NAME}
